{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="hero">
			    <h1 class="ui icon header title">
			    	CodeMingler
			    </h1>
			    <h4>experiment based on <a href="http://gogs.io">Go Git Service</a></h4>
			</div>
	  </div>
		<div class="ui divider"></div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
	    <h1 class="hero ui icon header">
	      <i class="octicon octicon-flame"></i> Tetris Principle
	    </h1>
	    <p class="large">
	    	This site isn't for mission-critical code. Your goal is to fit in collaborators
				and their code. Follow the 'Tetris principle' and fit everything in.
	    </p>
	  </div>
		<div class="eight wide center column">
	    <h1 class="hero ui icon header">
	      <i class="octicon octicon-rocket"></i> Pseudonyms
	    </h1>
	    <p class="large">
				Gogs has low minimal requirements and can run on an inexpensive Raspberry Pi. Save your machine energy!
	    </p>
	  </div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
		<div class="eight wide center column">
	    <h1 class="hero ui icon header">
	      <i class="octicon octicon-device-desktop"></i> Pseudonyms
	    </h1>
	    <p class="large">
				Everyone gets a pseudonym to (maybe?) break down social conventions. It's ok to link to your projects here, but avoid discussing your identity on this site. Never pressure collaborators to identify themselves.
	    </p>
	  </div>
		<div class="eight wide center column">
	    <h1 class="hero ui icon header">
	      <i class="octicon octicon-code"></i> Community Standards
	    </h1>
	    <p class="large">
	    	To preserve the anonymity and community of the site, there are strict standards. If your account is blocked by any user, your account is considered for a shared global block list.
	    </p>
	  </div>
	</div>
</div>
{{template "base/footer" .}}
