{{template "base/head" .}}
<div class="repository new fork">
	<div class="ui middle very relaxed page grid">
		<div class="column">
			<form class="ui form" action="{{.Link}}" method="post">
		  	{{.CsrfTokenHtml}}
				<h3 class="ui top attached header">
				  Copy and Edit Project
				</h3>
				<div class="ui attached segment">
					{{template "base/alert" .}}
			  	<div class="inline required field {{if .Err_Owner}}error{{end}}">
	  	      <label></label>
			      <div class="ui selection dropdown">
			        <input type="hidden" id="uid" name="uid" value="{{.ContextUser.Id}}" required>
			        <span class="text">
			        	<img class="ui mini image" src="{{.ContextUser.AvatarLink}}">
            		{{.ContextUser.Name}}
            	</span>
			      </div>
		      </div>

			  	<div class="inline required field {{if .Err_RepoName}}error{{end}}">
			  		<label for="repo_name">Project Name</label>
			  		<input id="repo_name" name="repo_name" value="{{.repo_name}}" required>
			  	</div>
			  	<div class="inline field {{if .Err_Description}}error{{end}}">
			  		<label for="desc">What do you think you will you do?<br/>It's ok if you don't know yet.</label>
			  		<textarea id="desc" name="desc">{{.desc}}</textarea>
			  	</div>

			  	<div class="inline field">
			  		<label></label>
				  	<button class="ui green button">
				  		{{.i18n.Tr "repo.fork_repo"}}
				  	</button>
				  	<a class="ui button" href="{{AppSubUrl}}/{{.ForkFrom}}">{{.i18n.Tr "cancel"}}</a>
			  	</div>
  	    </div>
			</form>
		</div>
	</div>
</div>
{{template "base/footer" .}}
